html {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    height: 100vh;
}

.container {
    height: 100%;
    max-width: 30rem;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-image {
    width: 2.2rem;
    height: 0.8rem;
    object-fit: fill;
    border-radius: 1rem 1rem 0 0;
    margin: 0.5rem;
}

.logo {
    width: 30rem;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

p {
    text-align: center;
    font-size: 16px;
    color: #666;
    margin-bottom: 30px;
}

.start-button {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    background-color: #d8a7ed;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}


.start-button:hover {
    background-color: #0056b3;
}


.button {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    background-color: #d8a7ed;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

.powered-by {
    font-size: 12px;
    color: #999;
    margin-top: 30px;
}

.question-image {
    width: 100%;
    margin-bottom: 20px;
}

.question-text {
    font-size: 18px;
    color: #333;
    margin-bottom: 30px;
}

.choice-button {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    text-align: center;
    color: #333;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.choice-button:hover {
    background-color: #e0e0e0;
}

.result-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    text-align: center;
}

.result-box {
    display: none;
}

.result-box.active {
    display: block;
}

.result-image {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
}

.result-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.result-description {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}

.restart-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .fade-out {
    animation: fadeOut 0.5s ease-out forwards;
  }
  
  .fade-in {
    animation: fadeIn 0.5s ease-in forwards;
  }